body {
    justify-items: center;
    height: 100vh;
    align-content: center;
    background: linear-gradient(135deg, #153677, #4e085f);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
